@import "../../SASS/variables";
@import "../../SASS/mixins";

.hero-section {
  //   @include w_h(100%, 40vh);
  @include bg_txt(black, white);
  padding: 5rem 0px;
}
.intro {
  // @include w_h(50%, auto);
  margin: 2rem;
  @include center();
  @include f-size(2.5rem, 600);
  @include bg_txt(transparent, white);
  .social-icons {
    margin-bottom: 1.5rem;
    a {
      padding: 0.8rem;
      color: white;
    }
  }
  .skills {
    @include bg_txt(unset, $secondary-color);
    .skill-name {
      @include f-size(4rem, 700);
    }
  }
  .intro-btn {
    .hire-btn,
    .resume-btn {
      padding: 0.5rem 2rem;
      @include bg_txt(transparent, white);
      border-radius: 50px;
    }
    .resume-btn {
      background: linear-gradient(115deg, rgb(255,130,0) 25%, black);
    }
  }
}
.profile-pic {
  // @include w_h(50vw, 100%);
  margin: 2rem;
  @include center();
  .pic {
    @include w_h(50%, auto);
    @include center();
    border-bottom: 2px solid $secondary-color;
    border-radius: 100%;
    padding: 2rem;
    img {
      @include border(2px solid $secondary-color, 100%);
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


// Desktop View: Media Query...
@media screen and (min-width: 850px) {
.hero-section{
  display: flex !important;
  .intro, .profile-pic{
    margin: auto;
  @include w_h(50vw, 100%);
  }
}
}
