@import "../../SASS/mixins";
@import "../../SASS/variables";

// Tab styling.
.resume {
  width: 100%;
  #tabs {
    margin: auto;
    list-style-type: none;
    li {
      a {
        display: flex;
        text-decoration: none;
        text-align: center;
        span {
          @include bg_txt(black, white);
          font-size: 2rem;
          padding: 1.5rem 1rem;
        }
        p {
          width: 100%;
          margin: 1rem 0px;
          padding: 0.5rem !important;
          @include bg_txt(white, black);
          border-radius: 0px 100px 100px 0px;
          transition: all 1s ease;
          &.active {
            @include bg_txt(black, white);
          }
        }
        // &:hover:not(.active) {
        //   color: white;
        // }
      }
    }
  }
  .section {
    background: white;
    padding: 1.5rem 2.5rem;
    //   display: none;

    &.active {
      display: block;
    }
  }
}


// Mobile View

@media screen and (min-width:850px) {
  .resume{
    display: flex;
  }
  #tabs{
    width: 30%;
  }
  .section {
    width: 70%;
  }
}