@import "../../SASS/mixins";
@import "../../SASS/variables";

.project-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin: 5rem auto;
  &::after {
    position: absolute;
    content: "";
    @include w_h(50px, 2px);
    @include bg_txt($secondary-color, black);
    bottom: -2.5rem;
    left: calc(50% - 15px);
  }
}

//
.project-box:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.project-detail {
  width: 60%;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: space-around;
  .short {
    text-transform: uppercase;
    font-size: 1rem;
    color: $secondary-color;
  }
  .p-title {
    @include f-size(2rem, 600);
  }
  .p-sub-title {
    color: $secondary-color;
    @include f-size(1.5rem, 700);
  }
  ul ::marker {
    content: "🔸";
    color: #ff8400;
  }
  li {
    padding-left: 1rem;
  }
}

.project-pic {
  width: 40%;
  .p-pic {
    @include w_h(100%, 100%);
    @include center();
    img {
      border-radius: 100%;
      padding: 1.5rem;
      border-bottom: 2px solid $secondary-color;
      transition: padding 200ms ease-in;
      &:hover {
        padding: 0.5rem;
      }
    }
  }
}

.project-btn {
  position: absolute;
  width: 100%;
  bottom: -4.5rem;
  text-align: center;
  a {
    @include f-size(1.75rem, 600);
    color: black;
  }
}
@media (max-width: 850px) {
  .project-box {
    flex-direction: column-reverse !important;
  }

  .project-pic,
  .project-detail {
    width: 100%;
  }
  .project-box {
    img {
      width: 50%;
    }
  }
}
